* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.product-list {
    display: flex;
    flex-flow: row wrap;
    width: 900px;
    margin: 30px auto;
}

.product-list-item {
    width: 300px;
    padding: 10px;
}

.product-picture-small {
    width: 250px;
    margin: 10px auto;
}